<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoluogo.goodtochat">

    <!-- TODO 4、配置IM SDK需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- TODO 5、配置IM SDK需要的广播和服务 -->
    <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
        <intent-filter>
            <action android:name="cn.bmob.action.RECONNECT" />
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.USER_PRESENT" />
        </intent-filter>
    </receiver>

    <service
        android:name="cn.bmob.newim.core.service.BmobIMService"
        android:process=":bmobcore" />
    <service
        android:name="cn.bmob.newim.core.service.NotifyService"
        android:process=":bmobcore" />
    <service android:name="cn.bmob.newim.core.service.ReConnectService" />
    <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

    <application
        android:name=".BmobIMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="cbfb019d8feab863c2183c1e73de3eb0" />

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".other.InfoActivity" />
        <activity android:name=".other.SearchUserActivity" />
        <activity android:name=".activity.NewFriendsActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:launchMode="singleTask" />
        <activity android:name=".other.PhotoActivity" />
        <activity android:name=".weather.view.WeatherActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xiaoluogo.goodtochat.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".weather.service.WeatherService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaoluogo.goodtochat_AUTO_UPDATE_WEATHER"/>
            </intent-filter>
        </service>
    </application>

</manifest>